h1.page-header About

p.
    The cpp2many tool is a source-to-source compiler. Its input is a program written in a small subset of C++ and its output is its translation to Python, Java, Pascal or Ada. The subset of C++ understood by cpp2many is the core language taught in the <a ref='http://www.fib.upc.edu/en/estudiar-enginyeria-informatica/assignatures/PRO1.html'>PRO1 course</a>.

p.
    The cpp2many compiler was developed by <a href='https://homes.cs.washington.edu/~rmartin/'>Ricardo Martin Brualla</a> at <a href='http://www.upc.edu'>UPC</a> as part of his final project with Jordi Petit as advisor. Its documentation can be found in the document <a href='http://upcommons.upc.edu/pfc/handle/2099.1/13929'>Automatic translation of programs for evaluation of execution times</a>.

p.
    cpp2many is written in Python, using the PLY library. It first parses the C++ source program and builds an abstract syntax tree of it. Then, different iterators for each target language traverse the tree and generate the equivalent code. cpp2many is not perfect, but was able to convert 92% of the solution of the problems in the PRO1 course.

h1.page-header Disclaimer

p.
    Jutge.org, UPC and the cpp2many authors are furnishing this online service and its results "as is". Jutge.org, UPC and the cppmany authors do not provide any warranty of the item whatsoever, whether express, implied, or statutory, including, but not limited to, any warranty of merchantability or fitness for a particular purpose or any warranty that the service will be error-free.

p.
    In no respect shall Jutge.org, UPC nor cpp2many authors incur any liability for any damages, including, but limited to, direct, indirect, special, or consequential damages arising out of, resulting from, or any way connected to the use of this service, whether or not based upon warranty, contract, tort, or otherwise; whether or not injury was sustained by persons or property or otherwise; and whether or not loss was sustained from, or arose out of, the results of, the item, or any services that may be provided by UPC or Jutge.org.
